.menu {{
    border: 0px;
    background-color: {QTMATERIAL_PRIMARYCOLOR};
    vertical-align:top;
}}

.container {{
    border: 0px;
    vertical-align:top;
}}

QHeaderView::section {{
    color:white;
    background-color:{QTMATERIAL_PRIMARYCOLOR}
}}

QTableView::items {{
    border-bottom: 1px solid #d6d9dc;
}}

QMenuBar {{
  background-color: #F0F0F0;
}}

.disabled {{
    background-color:#F0F0F0;
}}

QPlainTextEdit, QTableView {{
    border:2px solid #D3D3D3;
}}